<%= form_for(@syllabus) do |f| %>
  <% if @syllabus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@syllabus.errors.count, "error") %> prohibited this syllabus from being saved:</h2>

      <ul>
      <% @syllabus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.fields_for :missions do |builder| %>
      <%= render "missions/mission_fields", :f => builder %>
    <% end %>
  </div>  
  <div>
    <%= link_to_add_fields "Add Mission", f, :missions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<div style="border:2px solid black;">
  <h1>Missions</h1>
  <% @missions.each do |m| %>
    <span class="add_mission" id="<%= m.id %>"><%= m.title %></span><br/>
  <% end %>
</div>


<% end %>


