<!DOCTYPE html>
<html>
<head>
  <title>FormTest</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
